.col-md-3, .col-sm-12 {
    height: 46.75vh;
    padding: 0
}

.ghibli, .netflix, .mashr, .storefront, .netblue, .netred {
    overflow: hidden;
}

/* #ghibli:hover, #storefront:hover, #mashr:hover, #netflix:hover {
    transform: scale(1.25);
    transition: all 1.25s ease;
    filter: grayscale(.8) brightness(1.25);
} */

/* #ghibli, #storefront, #mashr, #netflix {
    transition: all 1.25s ease;

} */

.info-cover {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    /* z-index: 5; */
    color: transparent;
    transition: all 1.25s ease;

}

a {
    color: inherit;
}

a:hover {
    color: #ff9ef7 ;
}

.info-cover:hover {
    background-color: rgba(255, 255, 255, .3);

    color: white;
    transform: scale(1.35);
    transition: all 1.25s ease;
    filter: grayscale(.5);
}

.imageText {
    position: absolute;
    font-size: 1.5em;
    margin: 20%;
    height: 55%;
    width: 60%;
    padding: 5%;
}


.textBackground {
    /* transition: all .5s ease; */
    background-color: rgba(0,0,0,.75);
}

.netblue {
    background-image: linear-gradient(to bottom right, #3276ff, #81abff);
}

.netred {
    background-image: linear-gradient(to bottom right, #ff425b, #ff7385);
}

.my-form {
    font-size: 1.25em;
    background-image: linear-gradient(to bottom right, #a979f6, #ff9ef7);
}