.col-md-3, .col-sm-12 {
    height: 46.75vh;
    padding: 0
}

.ghibli, .netflix, .mashr, .storefront {
    overflow: hidden;
}

/* #ghibli:hover, #storefront:hover, #mashr:hover, #netflix:hover {
    transform: scale(1.25);
    transition: all 1.25s ease;
    filter: grayscale(.8) brightness(1.25);
} */

/* #ghibli, #storefront, #mashr, #netflix {
    transition: all 1.25s ease;

} */

.info-cover {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    /* z-index: 5; */
    color: transparent;
    transition: all 1.25s ease;

}

.info-cover:hover {
    background-color: rgba(255, 255, 255, .3);

    color: white;
    transform: scale(1.5);
    transition: all 1.25s ease;
    filter: grayscale(1);
}

.imageText {
    position: absolute;
    font-size: 2em;
    margin: 20%;
    height: 55%;
    width: 60%;
    padding: 5%;
}


.textBackground {
    /* transition: all .5s ease; */
    background-color: rgba(0,0,0,.75);
}


